In [2]:
print("Twinkle twinkle little star,");
print("           How in wonder what you are");
print("                  up above the world so high.");
print("                   Like a diamond in the sky");
print("Twinkle twinkle little star,");
print("           How in wonder what you are");

Twinkle twinkle little star,
           How in wonder what you are
                  up above the world so high.
                   Like a diamond in the sky
Twinkle twinkle little star,
           How in wonder what you are

In [3]:
print("Anaconda Navigator");
print("Jupitar notebook version 6.4.5");

Anaconda Navigator
Jupitar notebook version 6.4.5

In [4]:
print("date 1 Jan 2022");
print("Time 10:00 Am");

date 1 Jan 2022
Time 10:00 Am

In [4]:

print("Area Of Circle");
value = input("Please enter Radiusr:\n")
 
value = int(value)
area=2*3.13*value;
print(area);

Area Of Circle
Please enter Radiusr:
5
31.299999999999997

In [5]:
value1 = input("Please enter First Name:\n");
value2 = input("Please enter Last Name:\n");
print(value2+value1);

Please enter First Name:
Khuzama
Please enter Last Name:
Altaf
AltafKhuzama

In [9]:
value1 = input("Please enter First Number:\n");
value2 = input("Please enter Second Number:\n");
value1 = int(value);
value2 = int(value);
print(value1+value2);

Please enter First Number:
5
Please enter Second Number:
5
10